@model IEnumerable<MVC5.Models.View.UserListViewModel>

@{
    ViewBag.Title = "Listagem de usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listagem de usuários</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Update", new { id = item.Id }) |
                @Html.ActionLink("Visualizar", "Read", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Tarefas", "List", new { id = item.Id, controller = "Task" }) 
            </td>
        </tr>
    }
</table>
