@model MVC5.Models.View.TaskViewModel

@{
    ViewBag.Title = "Visualizar tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visualizar tarefa</h2>

<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
      
        <dt>
            @Html.DisplayNameFor(model => model.Done)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Done)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a listagem", "List", new { id = ViewBag.UserId })
</p>
